{% extends 'layouts/main.html' %}
{% block js_script %}
  {% include 'gratitude/head.html' %}
{% endblock %}

{% block navbar %}
  {% include 'gratitude/navbar.html' %}
{% endblock %}

{% block content %}
  <h1 class='text-center' id="title">What I am grateful today...</h1>
  <div class="text-center col-sm-12" id="verse">
    "But by the grace of God I am what I am, and his grace toward me was not in vain.<br>
    On the contrary, I worked harder than any of them, though it was not I, but the grace of God that is with me."</br>
    (1 Corinthians 15:10)<br><br>
    "I am not saying this because I am in need, for I have learned to be content whatever the circumstances."<br>
    (Philippians 4:11)
  </div>
  <form class='col-sm-12 text-center' id="gratitude" method="POST" action='#'>
    <div class="col-sm-12">
      <textarea form="gratitude" name="gratitude_data" id="gratitude_data" placeholder="My gratitude..."></textarea>
    </div>
    <div class="col-sm-12">
      <input class='btn btn-success' type="submit" value="Share My Gratitude">
    </div>
  </form>

  {% if results|length > 0 %}
    <div id="log" class="col-sm-6 col-sm-offset-3 text-center">
      {% for result in results %}
          <div class="message">
            <p class="content">"{{ result['message'] }}"</p>
            <p class="date">{{ result['datetime'] }}</p>
          </div>
      {% endfor %}
    </div>
  {% endif %}
{% endblock %}