{% extends 'layouts/main.html' %}

{% block js_script %}
  {% include 'prayer/head.html' %}
{% endblock %}

{% block navbar %}
  {% include 'prayer/navbar.html' %}
{% endblock %}

{% block content %}
  <h1 class='text-center' id="title">Here is my prayer intention...</h1>
  <form class='col-sm-12 text-center' id="prayer" method="POST" action='#'>
    <div class="col-sm-12">
      <textarea form="prayer" name="prayer_data" id="prayer_data" placeholder="My prayer intention..."></textarea>
    </div>
    <div class="col-sm-12">
      <input class='btn btn-success' type="submit" value="Share My Intention">
    </div>
  </form>

  {% if results|length > 0 %}
    <div id="log" class="col-sm-6 col-sm-offset-3 text-center">
      {% for result in results %}
          <div class="message">
            <p class="content">"{{ result['message'] }}"</p>
            <p class="date">{{ result['datetime'] }}</p>
          </div>
      {% endfor %}
    </div>
  {% endif %}
{% endblock %}