{% extends 'layouts/main.html' %}

{% block js_script %}
  {% include 'prayer/head.html' %}
{% endblock %}

{% block navbar %}
  {% include 'prayer/navbar.html' %}
{% endblock %}

{% block content %}
  <h1 class='text-center' id="title">Something is troubling me...</h1>
  <!--<div class="text-center col-sm-12" id="verse">-->
  <!--"Ask and it will be given to you; seek and you will find;<br>-->
    <!--knock and the door will be opened to you."<br>-->
    <!--(Matthew 7:7)<br><br>-->
    <!--Rejoice always, pray continually, give thanks in all circumstances; for this is God’s will for you in Christ Jesus.<br>-->
    <!--(1 Thessalonians 5:16‭-‬18)-->
  <!--</div>-->
  <form class='col-sm-12 text-center' id="prayer" method="POST" action='#'>
    <div class="col-sm-12">
      <textarea form="prayer" name="prayer_data" id="prayer_data" placeholder="Share here and let us pray for you..."></textarea>
    </div>
    <div class="col-sm-12">
      <input class='btn btn-success' type="submit" value="Share My Trouble">
    </div>
  </form>

  {% if results|length > 0 %}
    <div id="log" class="col-sm-6 col-sm-offset-3 text-center">
      {% for result in results %}
          <div class="message">
            <p class="content">"{{ result['message'] }}"</p>
            <p class="date">{{ result['datetime'] }}</p>
          </div>
      <div class="border"></div>
      {% endfor %}
    </div>
  {% endif %}
{% endblock %}